Repository Sid200026/WebGen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

refactor(): Ran prettier on SECURITY.md
  SECURITY.md
Due: prettier --config ./.prettierrc --write

fix(): Updated CD timeout and fixed Header UI
  appspec.yml
  frontend/components/Editing/Header.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Helmet not working on production
  backend/app.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Achievement Page Completed
  backend/constants/DownloadableContent.js
  backend/constants/JavaScriptFile.js
  backend/constants/messages.js
  backend/constants/theme.js
  backend/controller/createWebsite.js
  backend/services/background/createBackground.js
  backend/services/createWebsite/assetDownloader.js
  backend/services/createWebsite/createFile.js
  backend/services/createWebsite/index.js
  frontend/actions/achievement_action.js
  frontend/components/CreateWebsite.jsx
  frontend/components/Editing/Achievement.jsx
  frontend/components/Editing/Achievements/Achievement.jsx
  frontend/components/Editing/Achievements/AchievementCard.jsx
  frontend/components/Editing/Achievements/Layout.jsx
  frontend/components/Editing/Header.jsx
  frontend/components/Editing/Project/PopularProject.jsx
  frontend/components/Editing/Template.jsx
  frontend/components/ErrorBoundary.jsx
  frontend/components/NotFound.jsx
  frontend/components/Preview/AboutMe/Header.jsx
  frontend/components/Preview/Achievements/AchievementsLayout.jsx
  frontend/components/Preview/Achievements/OverlayCard.jsx
  frontend/components/Preview/Preview.jsx
  frontend/components/Preview/Project/CarouselCard.jsx
  frontend/components/Preview/Project/ProjectLayout.jsx
  frontend/components/Submit.jsx
  frontend/components/UserErrorBoundary.jsx
  frontend/constants/achievements_page.js
  frontend/constants/writeups/achievement.js
  frontend/constants/writeups/project.js
  frontend/initialState/achievement_initial.js
  frontend/reducers/achievement_reducer.js
  frontend/stores/store.js
  frontend/styles/Generic/errorPage.scss
  frontend/styles/Preview/achievement_preview.js
  frontend/styles/Preview/overlay.scss
  frontend/utils/validateKeys.js
  scripts/user_files.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Contact Page Completed
  backend/constants/JavaScriptFile.js
  backend/constants/theme.js
  backend/controller/createWebsite.js
  backend/services/background/createBackground.js
  backend/services/createWebsite/assetDownloader.js
  backend/services/createWebsite/createFile.js
  backend/services/createWebsite/index.js
  frontend/actions/contact_action.js
  frontend/components/Editing/Contact.jsx
  frontend/components/Editing/Contact/ContactForm.jsx
  frontend/components/Editing/Contact/Footer.jsx
  frontend/components/Editing/Contact/Layout.jsx
  frontend/components/Editing/Header.jsx
  frontend/components/Editing/Template.jsx
  frontend/components/Preview/AboutMe/Header.jsx
  frontend/components/Preview/Contact/ContactLayout.jsx
  frontend/components/Preview/Preview.jsx
  frontend/components/Submit.jsx
  frontend/constants/contact_page.js
  frontend/constants/writeups/contact.js
  frontend/initialState/contact_initial.js
  frontend/reducers/contact_reducer.js
  frontend/stores/store.js
  frontend/styles/Preview/contact_preview.js
  frontend/utils/validateKeys.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): User script not updated
  backend/controller/rateLimitUpload.js
  scripts/user_files.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Designed Homepage; fix(): sub-domain routing issue
  .gitignore
  backend/app.js
  backend/controller/getWebsiteInfo.js
  backend/index.js
  backend/models/index.js
  backend/models/queries.js
  backend/models/websiteInfo.js
  backend/public/logo_inverted.png
  backend/public/mobile_homepage.png
  backend/routes/frontend/router.js
  backend/routes/statistics/router.js
  backend/services/createWebsite/index.js
  backend/views/index.html
  frontend/components/App.jsx
  frontend/components/Complete.jsx
  frontend/components/CreateWebsite.jsx
  frontend/components/Editing/Edit.jsx
  frontend/components/Editing/Header.jsx
  frontend/components/Editing/Template.jsx
  frontend/components/Homepage.jsx
  frontend/components/Preview/Preview.jsx
  frontend/components/Submit.jsx
  frontend/styles/Generic/homepage.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Made Homepage responsive
  frontend/components/Homepage.jsx
  frontend/styles/Generic/homepage.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Update README.md
  README.md
Due: prettier --config ./.prettierrc --write

[ImgBot] Optimize images
  backend/public/logo_inverted.png
  backend/public/mobile_homepage.png
Due: none

feat(): Added youtube video link for FormSpree
  frontend/constants/writeups/contact.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

[ImgBot] Optimize images
  backend/public/images/AboutMe/About Me Page.png
  backend/public/images/AboutMe/Description.png
  backend/public/images/AboutMe/Media Handles.png
  backend/public/images/AboutMe/Page Layout.png
  backend/public/images/AboutMe/Profile Picture.png
  backend/public/images/AboutMe/Resume.png
  backend/public/images/AboutMe/Skills.png
  backend/public/images/Achievement/Achievement Card.png
  backend/public/images/Achievement/Achievement Page.png
  backend/public/images/Achievement/Achievements.png
  backend/public/images/Achievement/Page Layout.png
  backend/public/images/Contact/Contact Me Form.png
  backend/public/images/Contact/Contact Page.png
  backend/public/images/Contact/Page Footer.png
  backend/public/images/Contact/Page Layout.png
  backend/public/images/Introduction/Greeting.png
  backend/public/images/Introduction/Introduction Page.png
  backend/public/images/Introduction/SEO Tags.png
  backend/public/images/Introduction/Specialisation.png
  backend/public/images/Introduction/View Profile Button.png
  backend/public/images/Introduction/Your Name.png
  backend/public/images/Project/Other Projects.png
  backend/public/images/Project/Page Layout.png
  backend/public/images/Project/Popular Projects.png
  backend/public/images/Project/Project Card.png
  backend/public/images/Project/Project Page.png
  backend/public/images/Project/Project Table.png
  backend/public/images/WorkExperience/Page Layout.png
  backend/public/images/WorkExperience/Work Experience Page.png
  backend/public/images/WorkExperience/Work Experience.png
  backend/public/images/themes/White Theme 1.png
Due: none

Revert "build(deps-dev): bump husky from 4.3.8 to 6.0.0"
  package.json
Due: none

fix(): Dependency issue
  package.json
Due: none

fix(): Revert Node version to 14
  .travis.yml
  Dockerfile
Due: none

refactor(): Ran prettier on certain files
  frontend/components/Editing/AboutMe/Layout.jsx
  frontend/components/Editing/Header.jsx
  frontend/components/Editing/Introduction/Theme.jsx
  frontend/components/Preview/AboutMe/Header.jsx
  frontend/constants/writeups/contact.js
  frontend/constants/writeups/introduction.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Path conditions:
  prettier --config ./.prettierrc --write: (any of: *.{js,jsx}) or (any of: *.md)
  eslint --ignore-path .eslintignore --fix: any of: *.{js,jsx}
