Repository Sid200026/WebGen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

.lintstagedrc:

{
  "*.{js,jsx}": [
    "prettier --config ./.prettierrc --write",
    "eslint --ignore-path .eslintignore --fix"
  ],
  "*.md": ["prettier --config ./.prettierrc --write"]
}

feat(): Added browserlist
  package.json
Due: none

fix(): Ungraceful test exit
  backend/tests/routes.test.js
  backend/tests/service.test.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Redis test failing
  backend/tests/routes.test.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

[ImgBot] Optimize images
  backend/public/android-chrome-192x192.png
  backend/public/android-chrome-512x512.png
  backend/public/apple-touch-icon.png
  backend/public/favicon-16x16.png
  backend/public/favicon-32x32.png
  backend/public/images/assets/Ghost Logo (for light backgrounds).png
  backend/public/images/assets/GitHub-Mark-120px-plus.png
  backend/public/images/assets/GitHub-Mark-Light-120px-plus.png
  backend/public/images/assets/GitLab_Logo.svg
  backend/public/images/assets/HackerRank_logo.svg
  backend/public/images/assets/LI-In-Bug.png
  backend/public/images/assets/LeetCode_logo_black.png
  backend/public/images/assets/Medium-Symbol-Black-RGB@1x.png
  backend/public/images/assets/Medium-Symbol-White-RGB@1x.png
  backend/public/images/assets/Reddit_Mark_OnWhite.png
  backend/public/images/assets/Snapchat App Icon.png
  backend/public/images/assets/Twitter_Social_Icon_Circle_Color.png
  backend/public/images/assets/Twitter_Social_Icon_Circle_White.png
  backend/public/images/assets/codechef-removebg-preview.png
  backend/public/images/assets/f_logo_RGB-Black_1024.png
  backend/public/images/assets/f_logo_RGB-Blue_1024.png
  backend/public/images/assets/youtube_social_icon_dark.png
  backend/public/images/assets/youtube_social_icon_red.png
  backend/public/images/create_from_scratch.png
  backend/public/images/endgame.jpg
  docs/WebGen.png
Due: none

feat(): Layout page of Project Page complete
  frontend/src/actions/project_action.js
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Project.jsx
  frontend/src/components/Editing/Project/Layout.jsx
  frontend/src/components/Submit.jsx
  frontend/src/constants/project_page.js
  frontend/src/initialState/project_initial.js
  frontend/src/reducers/project_reducer.js
  frontend/src/stores/store.js
  frontend/src/utils/validateKeys.js
  scripts/user_files.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Design page for Project Page complete
  frontend/src/actions/project_action.js
  frontend/src/components/Editing/Project.jsx
  frontend/src/components/Editing/Project/OtherProject.jsx
  frontend/src/components/Editing/Project/PopularProject.jsx
  frontend/src/components/Editing/Project/ProjectCard.jsx
  frontend/src/components/Editing/Project/ProjectTable.jsx
  frontend/src/constants/project_page.js
  frontend/src/initialState/project_initial.js
  frontend/src/reducers/project_reducer.js
  frontend/src/utils/validateKeys.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Deepscan issues
  backend/controller/getTemplates.js
  backend/routes/logging/router.js
  backend/services/protection/protection.js
  frontend/src/components/Complete.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Stepper.jsx
  frontend/src/components/Editing/Template.jsx
  frontend/src/components/Preview/AboutMe/Header.jsx
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Popular Page edit complete
  frontend/src/actions/project_action.js
  frontend/src/components/Editing/Project/PopularProject.jsx
  frontend/src/constants/project_page.js
  frontend/src/initialState/project_initial.js
  frontend/src/reducers/project_reducer.js
  frontend/src/utils/validateKeys.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

bump() : axios to 0.21.1
  package.json
Due: none

feat(): Project page edit design complete
  frontend/src/components/Editing/Project/OtherProject.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Flip card component and initial page layout for project
  frontend/src/actions/project_action.js
  frontend/src/components/Editing/FlipCard.jsx
  frontend/src/components/Editing/Project/PopularProject.jsx
  frontend/src/components/Editing/Project/ProjectCard.jsx
  frontend/src/components/Preview/AboutMe/Header.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/components/Preview/Project/ProjectLayout.jsx
  frontend/src/constants/project_page.js
  frontend/src/initialState/project_initial.js
  frontend/src/reducers/project_reducer.js
  frontend/src/styles/flip_card.scss
  frontend/src/styles/project_preview.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat() : Project Page popular projects preview complete
  frontend/src/components/Editing/Template.jsx
  frontend/src/components/Preview/Project/CarouselCard.jsx
  frontend/src/components/Preview/Project/FlipCard.jsx
  frontend/src/components/Preview/Project/ProjectLayout.jsx
  frontend/src/styles/carouselCard.js
  frontend/src/styles/flip_card.scss
  frontend/src/styles/project_preview.js
  frontend/src/styles/template.js
  frontend/src/utils/validateKeys.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Project Page complete
  backend/constants/DownloadableContent.js
  backend/constants/JavaScriptFile.js
  backend/constants/theme.js
  backend/controller/createWebsite.js
  backend/services/background/createBackground.js
  backend/services/createWebsite/assetDownloader.js
  backend/services/createWebsite/createFile.js
  backend/services/createWebsite/index.js
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Project/OtherProject.jsx
  frontend/src/components/Editing/Project/PopularProject.jsx
  frontend/src/components/Editing/Template.jsx
  frontend/src/components/Preview/Project/CarouselCard.jsx
  frontend/src/components/Preview/Project/FlipCard.jsx
  frontend/src/components/Preview/Project/ProjectLayout.jsx
  frontend/src/components/Preview/Project/StickyTable.jsx
  frontend/src/reducers/project_reducer.js
  frontend/src/styles/carouselCard.js
  frontend/src/styles/flip_card.scss
  frontend/src/styles/project_preview.js
  frontend/src/styles/stickyTable.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix() : Mobile responsive issue for project page
  frontend/src/components/Preview/Project/ProjectLayout.jsx
  frontend/src/styles/project_preview.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

fix(): Dependabot config
  .github/dependabot.yml
Due: none

refactor(): Invalid API Key error messages changed
  backend/app.js
  backend/routes/upload/development_router.js
  backend/routes/upload/production_router.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

refactor(): Changed logger timeformat
  backend/logger/logger.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Asset image not present in user build
  scripts/install_dependencies.sh
Due: none

fix(): Inconsistent perfomance of rate-limit-redis
  backend/app.js
  backend/routes/submit/router.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Image not uploading in Popular projects
  frontend/src/components/Editing/Project/PopularProject.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

refactor(): Introduction page edit
  frontend/src/components/Editing/FileUpload.jsx
  frontend/src/components/Editing/Introduction/Greeting.jsx
  frontend/src/components/Editing/Introduction/Name.jsx
  frontend/src/components/Editing/Introduction/SEO.jsx
  frontend/src/components/Editing/Introduction/Specialisation.jsx
  frontend/src/components/Editing/Introduction/Theme.jsx
  frontend/src/components/Editing/Introduction/ViewProfile.jsx
  frontend/src/constants/writeups/index.js
  frontend/src/constants/writeups/introduction.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Update README.md
  README.md
Due: prettier --config ./.prettierrc --write

fix(): Update installation files with asset_copy
  Dockerfile
  README.md
  appspec.yml
  scripts/asset_copy.sh
  scripts/install_dependencies.sh
Due: prettier --config ./.prettierrc --write

fix(): Unnecessary else statement in AboutMe ( deepscan )
  frontend/components/Editing/AboutMe/Skills.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix(): Header not closing on click for mobile screens
  backend/logger/logger.js
  frontend/components/Editing/Header.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Image upload followed by an upload progress bar
  frontend/components/Editing/FileUpload.jsx
  scripts/asset_copy.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Rate limit for submit, upload and react app
  backend/app.js
  backend/controller/rateLimitFrontend.js
  backend/controller/rateLimitSubmit.js
  backend/controller/rateLimitUpload.js
  backend/routes/frontend/router.js
  backend/routes/submit/router.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Batch delete of images in project after 24hrs
  frontend/actions/project_action.js
  frontend/components/Editing/Project/PopularProject.jsx
  frontend/constants/project_page.js
  frontend/reducers/project_reducer.js
  frontend/utils/imageExists.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Create SECURITY.md
  SECURITY.md
Due: prettier --config ./.prettierrc --write

fix(): Express helmet to allow meme-api and port connectivity for connect-src
  backend/app.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix
