Repository Sid200026/WebGen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

.lintstagedrc:

{
  "*.{js,jsx}": [
    "prettier --config ./.prettierrc --write",
    "eslint --ignore-path .eslintignore --fix"
  ],
  "*.md": ["prettier --config ./.prettierrc --write"]
}

feat(): Zip service completed (#23)
  backend/app.js
  backend/services/email/developmentEmail.js
  backend/services/email/email.js
  backend/services/email/productionEmail.js
  backend/services/zip/zip.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Submit page complete
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction/Theme.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/components/ScrollToTop.jsx
  frontend/src/components/Submit.jsx
  frontend/src/constants/constants.js
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/introduction_preview.js
  frontend/src/styles/preview.scss
  frontend/src/styles/submit.js
  frontend/src/utils/randomGenerator.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Submit page complete (#24)
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction/Theme.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/components/ScrollToTop.jsx
  frontend/src/components/Submit.jsx
  frontend/src/constants/constants.js
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/introduction_preview.js
  frontend/src/styles/preview.scss
  frontend/src/styles/submit.js
  frontend/src/utils/randomGenerator.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Download service
  backend/services/download/download.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Download service (#25)
  backend/services/download/download.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): API Protection
  backend/app.js
  backend/routes/submit/router.js
  backend/services/protection/encrypt_decrypt.js
  backend/services/protection/protection.js
  frontend/src/utils/generateAPIKey.js
  frontend/src/utils/serviceCalls.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Time based route protection
  backend/app.js
  backend/public/images/endgame.jpg
  backend/routes/upload/development_router.js
  backend/tests/routes.test.js
  backend/tests/service.test.js
  frontend/src/components/Editing/Introduction/SEO.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Made Submit page responsive
  frontend/src/components/Submit.jsx
  frontend/src/styles/submit.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Final Submit Page, Email Verification, DB Support, API Protection, Background Tasks
  .env.example
  backend/app.js
  backend/constants/DatabaseService.js
  backend/constants/REDIS_Service.js
  backend/constants/messages.js
  backend/controller/createVerificationKey.js
  backend/controller/verifyVerificationKey.js
  backend/models/database.js
  backend/models/emailVerification.js
  backend/models/index.js
  backend/models/queries.js
  backend/public/images/GitHub-Mark-Light-120px-plus.png
  backend/public/images/Instagram_AppIcon_Aug2017.png
  backend/public/images/LI-In-Bug.png
  backend/public/images/complete.jpg
  backend/public/images/logo.png
  backend/routes/frontend/router.js
  backend/routes/submit/router.js
  backend/services/background/background.js
  backend/services/email/developmentEmail.js
  backend/services/verificationKey/key.js
  frontend/src/components/Complete.jsx
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/ParticleThemes/Static.jsx
  frontend/src/components/ParticleThemes/index.js
  frontend/src/components/Submit.jsx
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/complete.js
  frontend/src/styles/preview.scss
  frontend/src/utils/serviceCalls.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): POC complete
  .gitignore
  backend/app.js
  backend/constants/DownloadableContent.js
  backend/constants/JavaScriptFile.js
  backend/constants/REDIS_Service.js
  backend/constants/messages.js
  backend/controller/createVerificationKey.js
  backend/controller/createWebsite.js
  backend/routes/submit/router.js
  backend/services/background/background.js
  backend/services/createWebsite/assetDownloader.js
  backend/services/createWebsite/cleanUp.js
  backend/services/createWebsite/createFile.js
  backend/services/createWebsite/index.js
  backend/services/createWebsite/zipDirectory.js
  backend/services/download/download.js
  backend/services/zip/zip.js
  backend/user/index.html
  backend/utils/sanitise.js
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
  frontend/src/components/Submit.jsx
  frontend/src/reducers/introduction_reducer.js
  frontend/src/stores/store.js
  frontend/src/user.jsx
  frontend/src/userIndex.jsx
  nodemon.json
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Circular dependency in background tasks
  backend/controller/createVerificationKey.js
  backend/controller/createWebsite.js
  backend/services/background/createBackground.js
  backend/services/background/emailBackground.js
  backend/services/createWebsite/cleanUp.js
  backend/services/createWebsite/index.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Production Configuration Complete
  .env.example
  backend/constants/DatabaseService.js
  backend/routes/upload/production_router.js
  backend/routes/upload/router.js
  backend/services/createWebsite/assetDownloader.js
  backend/services/createWebsite/index.js
  backend/services/email/email.js
  backend/services/email/productionEmail.js
  backend/services/protection/protection.js
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
  nodemon.json
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Protect API test duration fixed
  backend/tests/service.test.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Create user.introduction_initial.js
  frontend/src/initialState/user.introduction_initial.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): No image case not handled
  backend/services/createWebsite/assetDownloader.js
  backend/services/email/productionEmail.js
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Create user.about_me_initial.js
  frontend/src/initialState/user.about_me_initial.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Changed webpack output filename
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Error message when file size exceeds limit
  frontend/src/components/Editing/AboutMe/ProfilePicture.jsx
  frontend/src/components/Editing/Introduction/SEO.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Renamed user html file's script src to js instead of txt
  backend/user/index.html
Due: none

fix(): Changed type constant for introduction and about_me
  frontend/src/constants/about_me_page.js
  frontend/src/constants/introduction_page.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Setup script for user files
  frontend/src/initialState/user.about_me_initial.js
  frontend/src/initialState/user.introduction_initial.js
  frontend/src/reducers/about_me_reducer.js
  frontend/src/reducers/introduction_reducer.js
  user_files.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

refactor(): Deleted user files
  frontend/src/initialState/user.about_me_initial.js
  frontend/src/initialState/user.introduction_initial.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Fixed user_file.sh issue to execute on linux systems
  user_files.sh
Due: none

fix(): Added user_files.sh as before_script to travis build
  .travis.yml
Due: none

fix(): Added redis as required service for travis
  .travis.yml
Due: none

test(): Mocked redis implementation
  backend/tests/routes.test.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Leakages while testing
  .travis.yml
  backend/tests/routes.test.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Permission denied error for travis
  .travis.yml
Due: none

feat(): CI/CD setup on production branch
  appspec.yml
  frontend/src/components/Preview/Preview.jsx
  frontend/src/styles/preview.scss
  scripts/before_install.sh
  scripts/install_dependencies.sh
  scripts/start_server.sh
  scripts/stop_server.sh
  scripts/user_files.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Wrong path in travis build file
  .travis.yml
Due: none

docs(): Added contributing.md
  CONTRIBUTING.md
Due: prettier --config ./.prettierrc --write

fix(): Fixed path issue in appspec script file
  scripts/start_server.sh
Due: none

fix(): Permission issue in setup script
  scripts/before_install.sh
  scripts/install_dependencies.sh
  scripts/start_server.sh
  scripts/stop_server.sh
Due: none

fix(): Directory issue in user_files.sh
  scripts/user_files.sh
Due: none

fix(): Path issue still remains 😢😢
  scripts/user_files.sh
Due: none

fix(): Image cannot be uploaded
  backend/app.js
  backend/routes/upload/development_router.js
  backend/routes/upload/production_router.js
  frontend/src/components/Editing/AboutMe/ProfilePicture.jsx
  frontend/src/components/Editing/Introduction/SEO.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

bump(): node-sass and sass-loader
  package.json
Due: none

fix(): Remove node_modules and lock.json before_install
  scripts/before_install.sh
Due: none

fix(): Node version issue in production
  backend/constants/JavaScriptFile.js
  scripts/before_install.sh
  scripts/install_dependencies.sh
  scripts/start_server.sh
  scripts/stop_server.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix
