Repository Sid200026/WebGen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Update before_install.sh
  scripts/before_install.sh
Due: none

bump: Install node via PFA instead of nvm
  scripts/before_install.sh
Due: none

fix(): reverted to node lts
  package.json
  scripts/before_install.sh
Due: none

fix(): Node version issue in production
  backend/constants/JavaScriptFile.js
  scripts/before_install.sh
  scripts/install_dependencies.sh
  scripts/start_server.sh
  scripts/stop_server.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Remove node_modules and lock.json before_install
  scripts/before_install.sh
Due: none

bump(): node-sass and sass-loader
  package.json
Due: none

feat(): Work Experience Page Edit Complete
  frontend/src/actions/work_experience_action.js
  frontend/src/components/Editing/WorkExperience.jsx
  frontend/src/components/Editing/WorkExperience/Company.jsx
  frontend/src/components/Editing/WorkExperience/Layout.jsx
  frontend/src/constants/about_me_page.js
  frontend/src/constants/work_experience_page.js
  frontend/src/initialState/work_experience_initial.js
  frontend/src/reducers/work_experience_reducer.js
  frontend/src/stores/store.js
  frontend/src/styles/introduction_preview.js
  scripts/user_files.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

WIP(): Save, Load and Reset functionality
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/WorkExperience/Company.jsx
  frontend/src/styles/header.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Reset and Load functionality
  frontend/src/actions/about_me_action.js
  frontend/src/actions/introduction_action.js
  frontend/src/actions/work_experience_action.js
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Submit.jsx
  frontend/src/constants/about_me_page.js
  frontend/src/constants/introduction_page.js
  frontend/src/constants/work_experience_page.js
  frontend/src/reducers/about_me_reducer.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/reducers/work_experience_reducer.js
  frontend/src/stores/store.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Reset, Load and Save functionality complete
  frontend/src/actions/about_me_action.js
  frontend/src/actions/introduction_action.js
  frontend/src/actions/work_experience_action.js
  frontend/src/components/Editing/Header.jsx
  frontend/src/constants/about_me_page.js
  frontend/src/constants/introduction_page.js
  frontend/src/constants/work_experience_page.js
  frontend/src/reducers/about_me_reducer.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/reducers/work_experience_reducer.js
  frontend/src/stores/store.js
  frontend/src/utils/encryptDecrypt.js
  frontend/src/utils/generateAPIKey.js
  frontend/src/utils/validateKeys.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Work Experience Page Preview Complete
  backend/constants/DownloadableContent.js
  backend/constants/JavaScriptFile.js
  backend/controller/createWebsite.js
  backend/controller/verifyVerificationKey.js
  backend/services/background/createBackground.js
  backend/services/createWebsite/assetDownloader.js
  backend/services/createWebsite/createFile.js
  backend/services/createWebsite/index.js
  frontend/src/components/Editing/WorkExperience/Company.jsx
  frontend/src/components/Preview/AboutMe/AboutMeLayout.jsx
  frontend/src/components/Preview/AboutMe/Header.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/components/Preview/WorkExperience/WorkExperienceLayout.jsx
  frontend/src/components/Submit.jsx
  frontend/src/styles/about_me_preview.js
  frontend/src/styles/preview.scss
  frontend/src/styles/previewHeader.js
  frontend/src/styles/work_experience_preview.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Changed script shebangs and moved user_file script to Before_Install
  appspec.yml
  scripts/before_install.sh
  scripts/install_dependencies.sh
  scripts/start_server.sh
  scripts/stop_server.sh
  scripts/user_files.sh
Due: none

fix(): user_files.sh script raising an error
  scripts/user_files.sh
Due: none

fix(): https://stackoverflow.com/questions/33311874/aws-codedeploy-afterinstall-script-is-being-run-from-code-deploy-agent-dir\?rq\=1
  appspec.yml
  scripts/before_install.sh
  scripts/install_dependencies.sh
  scripts/user_files.sh
Due: none

wip(): Template feature backend complete and frontend design
  backend/app.js
  backend/controller/getTemplates.js
  backend/models/index.js
  backend/models/queries.js
  backend/models/template.js
  backend/public/images/create_from_scratch.png
  backend/routes/template/router.js
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Template.jsx
  frontend/src/styles/template.js
  frontend/src/utils/serviceCalls.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Inherit template feature complete
  backend/constants/theme.js
  backend/scripts/createTheme.js
  frontend/src/actions/default_theme_action.js
  frontend/src/components/Editing/AboutMe/Skills.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Template.jsx
  frontend/src/components/Editing/WorkExperience/Company.jsx
  frontend/src/components/Submit.jsx
  frontend/src/constants/_color.scss
  frontend/src/constants/default_theme.js
  frontend/src/initialState/default_theme_initial.js
  frontend/src/reducers/default_theme_reducer.js
  frontend/src/stores/store.js
  frontend/src/styles/template.js
  frontend/src/utils/validateKeys.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): AWS Codedeploy node_modules deletion removed
  scripts/install_dependencies.sh
Due: none

fix(): Minor fixes in start_server script and removed react-skillbars from package.json
  appspec.yml
  backend/app.js
  backend/models/queries.js
  package.json
  scripts/start_server.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Route test failure due to theme addition
  backend/app.js
  backend/index.js
  backend/scripts/createTheme.js
  backend/tests/routes.test.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Removed unnecessary rendering of View Profile btn and Header
  frontend/src/components/Preview/Preview.jsx
  frontend/src/initialState/introduction_initial.js
  scripts/start_server.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Dockerized entire project
  .dockerignore
  .env.example
  Dockerfile
  backend/constants/REDIS_Service.js
  docker-compose.yml
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Undeclared variable
  backend/constants/REDIS_Service.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Update README.md
  README.md
Due: prettier --config ./.prettierrc --write

fix(): Broken
  README.md
Due: prettier --config ./.prettierrc --write

refactor(): Added screenshots to docs
  README.md
  backend/README.md
  docs/WebGen.png
  frontend/README.md
  scripts/start_server.sh
Due: prettier --config ./.prettierrc --write

Set theme jekyll-theme-cayman
  _config.yml
Due: none

fix(): Animation from underlying source is not allowed
  frontend/src/components/Skillbar.jsx
  frontend/src/styles/skillbar.scss
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): pm2 restart failing
  scripts/start_server.sh
Due: none

fix(): switched from pm2 command line to ecosystem
  ecosystem.config.js
  scripts/before_install.sh
  scripts/start_server.sh
  scripts/stop_server.sh
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Rate limiting vulnerable APIs
  backend/app.js
  backend/constants/REDIS_Service.js
  backend/controller/rateLimitSubmit.js
  backend/controller/rateLimitUpload.js
  backend/routes/submit/router.js
  backend/services/protection/protection.js
  frontend/src/components/Editing/AboutMe/ProfilePicture.jsx
  frontend/src/components/Editing/Introduction/SEO.jsx
  frontend/src/components/Submit.jsx
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Path conditions:
  prettier --config ./.prettierrc --write: (any of: *.{js,jsx}) or (any of: *.md)
  eslint --ignore-path .eslintignore --fix: any of: *.{js,jsx}
