Repository Sid200026/WebGen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Added jest to dependencies
  package.json
Due: none

feat(): Webpack, Babel config for React, Linters and Travis (#7)
  .babelrc
  .env.example
  .eslintignore
  .eslintrc
  .gitignore
  .lintstagedrc
  .prettierrc
  .travis.yml
  backend/README.md
  backend/app.js
  backend/index.js
  backend/tests/sample.test.js
  frontend/README.md
  frontend/index.html
  frontend/src/index.jsx
  frontend/src/user.jsx
  frontend/tests/sample.test.js
  jest.config.js
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Backend setup to serve react app and added SEO Html tags to html files
  .gitignore
  Assets/favicon.png
  backend/app.js
  backend/public/android-chrome-192x192.png
  backend/public/android-chrome-512x512.png
  backend/public/apple-touch-icon.png
  backend/public/favicon-16x16.png
  backend/public/favicon-32x32.png
  backend/public/logo.png
  backend/public/logo_transparent.png
  backend/public/manifest.webmanifest
  backend/routes/frontend/router.js
  backend/tests/routes.test.js
  backend/tests/sample.test.js
  backend/user/index.html
  backend/views/index.html
  frontend/src/components/App.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/constants/constants.js
  frontend/src/index.jsx
  frontend/src/user.jsx
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Backend setup to serve react app and added SEO Html tags to html files (#8)
  .gitignore
  Assets/favicon.png
  backend/app.js
  backend/public/android-chrome-192x192.png
  backend/public/android-chrome-512x512.png
  backend/public/apple-touch-icon.png
  backend/public/favicon-16x16.png
  backend/public/favicon-32x32.png
  backend/public/logo.png
  backend/public/logo_transparent.png
  backend/public/manifest.webmanifest
  backend/routes/frontend/router.js
  backend/tests/routes.test.js
  backend/tests/sample.test.js
  backend/user/index.html
  backend/views/index.html
  frontend/src/components/App.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/constants/constants.js
  frontend/src/index.jsx
  frontend/src/user.jsx
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Eslint ignore specifying wrong folder
  .eslintignore
  README.md
Due: prettier --config ./.prettierrc --write

fix(): Eslint ignore specifying wrong folder (#9)
  .eslintignore
  README.md
Due: prettier --config ./.prettierrc --write

fix(): Broken logo link
  README.md
Due: prettier --config ./.prettierrc --write

fix(): Broken logo link (#10)
  README.md
Due: prettier --config ./.prettierrc --write

feat(): Persist redux store and actions, reducers for introduction page
  .env.example
  frontend/src/actions/introduction_action.js
  frontend/src/components/App.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/index.jsx
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/stores/store.js
  frontend/src/styles/index.scss
  frontend/src/tests/sample.test.js
  frontend/src/user.jsx
  frontend/src/utils/encrypt_decrypt.js
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Persist redux store and actions, reducers for introduction page
  jest.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Redux store persist to localStorage and actions, reducers for introduction page (#12)
  .env.example
  frontend/src/actions/introduction_action.js
  frontend/src/components/App.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/index.jsx
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/stores/store.js
  frontend/src/styles/index.scss
  frontend/src/tests/sample.test.js
  frontend/src/user.jsx
  frontend/src/utils/encrypt_decrypt.js
  jest.config.js
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Initial Edit Render for each page
  .prettierrc
  backend/user/index.html
  backend/views/index.html
  frontend/src/actions/introduction_action.js
  frontend/src/components/App.jsx
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/AboutMe.jsx
  frontend/src/components/Editing/Achievement.jsx
  frontend/src/components/Editing/Contact.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Footer.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Project.jsx
  frontend/src/components/Editing/ScrollToTop.jsx
  frontend/src/components/Editing/WorkExperience.jsx
  frontend/src/components/Homepage.jsx
  frontend/src/constants/_color.scss
  frontend/src/constants/color.js
  frontend/src/constants/introduction_page.js
  frontend/src/constants/writeups/index.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/stores/store.js
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/Footer.scss
  frontend/src/styles/Introduction.scss
  frontend/src/styles/Navigation.scss
  frontend/src/styles/aboutMe.js
  frontend/src/styles/achievement.js
  frontend/src/styles/contact.js
  frontend/src/styles/edit.js
  frontend/src/styles/header.js
  frontend/src/styles/index.scss
  frontend/src/styles/introduction.js
  frontend/src/styles/project.js
  frontend/src/styles/workExperience.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

refactor(): Made preview button more transparent
  frontend/src/styles/CreateWebsite.scss
Due: none

feat(): Design of initial preview pages (#13)
  .prettierrc
  backend/user/index.html
  backend/views/index.html
  frontend/src/actions/introduction_action.js
  frontend/src/components/App.jsx
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/AboutMe.jsx
  frontend/src/components/Editing/Achievement.jsx
  frontend/src/components/Editing/Contact.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Footer.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Project.jsx
  frontend/src/components/Editing/ScrollToTop.jsx
  frontend/src/components/Editing/WorkExperience.jsx
  frontend/src/components/Homepage.jsx
  frontend/src/constants/_color.scss
  frontend/src/constants/color.js
  frontend/src/constants/introduction_page.js
  frontend/src/constants/writeups/index.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/stores/store.js
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/Footer.scss
  frontend/src/styles/Introduction.scss
  frontend/src/styles/Navigation.scss
  frontend/src/styles/aboutMe.js
  frontend/src/styles/achievement.js
  frontend/src/styles/contact.js
  frontend/src/styles/edit.js
  frontend/src/styles/header.js
  frontend/src/styles/index.scss
  frontend/src/styles/introduction.js
  frontend/src/styles/project.js
  frontend/src/styles/workExperience.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Update README.md
  frontend/README.md
Due: prettier --config ./.prettierrc --write

Update README.md (#14)
  frontend/README.md
Due: prettier --config ./.prettierrc --write

fix(): Missing enablePage in reducer, and UI fixes
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/reducers/introduction_reducer.js
  frontend/src/styles/header.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Missing enablePage in reducer, and UI fixes (#15)
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/reducers/introduction_reducer.js
  frontend/src/styles/header.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Stepper components for form ; fix(): UI fixes
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Stepper.jsx
  frontend/src/components/Submit.jsx
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/Footer.scss
  frontend/src/styles/Stepper.scss
  frontend/src/styles/header.js
  frontend/src/styles/introduction.js
  frontend/src/styles/stepper.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Stepper components for form ; fix(): UI fixes (#16)
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Header.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Stepper.jsx
  frontend/src/components/Submit.jsx
  frontend/src/styles/CreateWebsite.scss
  frontend/src/styles/Footer.scss
  frontend/src/styles/Stepper.scss
  frontend/src/styles/header.js
  frontend/src/styles/introduction.js
  frontend/src/styles/stepper.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Design of edit pages ; refactor(): Removed redundant styling files
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/AboutMe.jsx
  frontend/src/components/Editing/Achievement.jsx
  frontend/src/components/Editing/Contact.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Introduction/Greeting.jsx
  frontend/src/components/Editing/Introduction/Name.jsx
  frontend/src/components/Editing/Introduction/Specialisation.jsx
  frontend/src/components/Editing/Project.jsx
  frontend/src/components/Editing/Stepper.jsx
  frontend/src/components/Editing/WorkExperience.jsx
  frontend/src/initialState/introduction_initial.js
  frontend/src/stores/store.js
  frontend/src/styles/Introduction.scss
  frontend/src/styles/achievement.js
  frontend/src/styles/contact.js
  frontend/src/styles/editForm.scss
  frontend/src/styles/editLanding.js
  frontend/src/styles/form.js
  frontend/src/styles/introduction.js
  frontend/src/styles/project.js
  frontend/src/styles/stepper.js
  frontend/src/styles/workExperience.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Design of edit pages ; refactor(): Removed redundant styling files (#17)
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/AboutMe.jsx
  frontend/src/components/Editing/Achievement.jsx
  frontend/src/components/Editing/Contact.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Introduction/Greeting.jsx
  frontend/src/components/Editing/Introduction/Name.jsx
  frontend/src/components/Editing/Introduction/Specialisation.jsx
  frontend/src/components/Editing/Project.jsx
  frontend/src/components/Editing/Stepper.jsx
  frontend/src/components/Editing/WorkExperience.jsx
  frontend/src/initialState/introduction_initial.js
  frontend/src/stores/store.js
  frontend/src/styles/Introduction.scss
  frontend/src/styles/achievement.js
  frontend/src/styles/contact.js
  frontend/src/styles/editForm.scss
  frontend/src/styles/editLanding.js
  frontend/src/styles/form.js
  frontend/src/styles/introduction.js
  frontend/src/styles/project.js
  frontend/src/styles/stepper.js
  frontend/src/styles/workExperience.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Completed SEO form and added dropzone
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Introduction/Greeting.jsx
  frontend/src/components/Editing/Introduction/Name.jsx
  frontend/src/components/Editing/Introduction/SEO.jsx
  frontend/src/components/Editing/Introduction/Specialisation.jsx
  frontend/src/components/Editing/Introduction/ViewProfile.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/styles/Dropzone.scss
  frontend/src/styles/form.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Completed SEO form and added dropzone (#18)
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Introduction/Greeting.jsx
  frontend/src/components/Editing/Introduction/Name.jsx
  frontend/src/components/Editing/Introduction/SEO.jsx
  frontend/src/components/Editing/Introduction/Specialisation.jsx
  frontend/src/components/Editing/Introduction/ViewProfile.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/styles/Dropzone.scss
  frontend/src/styles/form.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Only 1 favicon can be uploaded
  frontend/src/components/Editing/Introduction/SEO.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Only 1 favicon can be uploaded (#19)
  frontend/src/components/Editing/Introduction/SEO.jsx
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Logger setup and image uploading in development
  .gitignore
  backend/app.js
  backend/constants/ImageMimeTypes.js
  backend/email/developmentEmail.js
  backend/email/email.js
  backend/email/productionEmail.js
  backend/index.js
  backend/logger/logger.js
  backend/routes/logging/router.js
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/UserErrorBoundary.jsx
  frontend/src/index.jsx
  frontend/src/user.jsx
  frontend/src/utils/serviceCalls.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Added tests for this commit
  backend/tests/routes.test.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Ignored router file which caused issues with travis
  .gitignore
  backend/routes/upload/development_router.js
  backend/routes/upload/production_router.js
  backend/routes/upload/router.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fix(): Bad test causing issues
  backend/tests/routes.test.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Logger setup and image uploading in development (#20)
  .gitignore
  backend/app.js
  backend/constants/ImageMimeTypes.js
  backend/email/developmentEmail.js
  backend/email/email.js
  backend/email/productionEmail.js
  backend/index.js
  backend/logger/logger.js
  backend/routes/logging/router.js
  backend/routes/upload/development_router.js
  backend/routes/upload/production_router.js
  backend/routes/upload/router.js
  backend/tests/routes.test.js
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/UserErrorBoundary.jsx
  frontend/src/index.jsx
  frontend/src/user.jsx
  frontend/src/utils/serviceCalls.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Integrated file uploading (Frontend and Backend)
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/Introduction/SEO.jsx
  frontend/src/components/Editing/Introduction/ViewProfile.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/utils/imageExists.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Integrated file uploading (Frontend and Backend) (#21)
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/Introduction/SEO.jsx
  frontend/src/components/Editing/Introduction/ViewProfile.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/utils/imageExists.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

WIP(): Introduction Preview
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/styles/introduction_preview.js
  frontend/src/styles/preview.scss
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

fun(): Installed my own package
  package.json
  webpack.config.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Introduction Page complete
  frontend/README.md
  frontend/src/components/CreateWebsite.jsx
  frontend/src/components/Editing/Edit.jsx
  frontend/src/components/Editing/Introduction.jsx
  frontend/src/components/Editing/Introduction/Specialisation.jsx
  frontend/src/components/Editing/Introduction/Theme.jsx
  frontend/src/components/ParticleThemes/BlackBubbles.jsx
  frontend/src/components/ParticleThemes/BlackGoldSimple.jsx
  frontend/src/components/ParticleThemes/BlackSimple.jsx
  frontend/src/components/ParticleThemes/BlueBubbles.jsx
  frontend/src/components/ParticleThemes/BlueSimple.jsx
  frontend/src/components/ParticleThemes/StarryNight.jsx
  frontend/src/components/ParticleThemes/index.js
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/styles/form.js
  frontend/src/styles/introduction_preview.js
  frontend/src/styles/preview.scss
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Generalised ParticleJS Themes and mobile friendly UI
  frontend/src/actions/introduction_action.js
  frontend/src/components/Editing/Introduction/Theme.jsx
  frontend/src/components/Editing/Introduction/ViewProfile.jsx
  frontend/src/components/ParticleThemes/BlackBubbles.jsx
  frontend/src/components/ParticleThemes/BlackGoldSimple.jsx
  frontend/src/components/ParticleThemes/BlackSimple.jsx
  frontend/src/components/ParticleThemes/BlueBubbles.jsx
  frontend/src/components/ParticleThemes/BlueSimple.jsx
  frontend/src/components/ParticleThemes/Bubbles.jsx
  frontend/src/components/ParticleThemes/Dots.jsx
  frontend/src/components/ParticleThemes/StarryNight.jsx
  frontend/src/components/ParticleThemes/Static.jsx
  frontend/src/components/ParticleThemes/index.js
  frontend/src/components/Preview/Introduction/IntroductionLayout.jsx
  frontend/src/components/Preview/Preview.jsx
  frontend/src/constants/introduction_page.js
  frontend/src/initialState/introduction_initial.js
  frontend/src/reducers/introduction_reducer.js
  frontend/src/styles/introduction_preview.js
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Email service with and without attachments
  .env.example
  backend/app.js
  backend/constants/EmailService.js
  backend/email/developmentEmail.js
  backend/email/email.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Email service with and without attachments (#22)
  .env.example
  backend/app.js
  backend/constants/EmailService.js
  backend/email/developmentEmail.js
  backend/email/email.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

feat(): Zip service completed
  backend/app.js
  backend/services/email/developmentEmail.js
  backend/services/email/email.js
  backend/services/email/productionEmail.js
  backend/services/zip/zip.js
  package.json
Due: prettier --config ./.prettierrc --write, eslint --ignore-path .eslintignore --fix

Path conditions:
  prettier --config ./.prettierrc --write: (any of: *.{js,jsx}) or (any of: *.md)
  eslint --ignore-path .eslintignore --fix: any of: *.{js,jsx}
